// Колір фону для секцій About Advantages Gallery Contacts Footer
$fieldPinkColor: #fff5f6;
// Колір фону для header hero
$middlePinkColor: #ffb8ca;

$strongPinkColor: #ffa5ba;
$AccentPinkColor: #d41443;
//Кольори для мобільного меню
$menuPinkColor: #e17992;
$linePinkColor: #e18298;
$whiteColor: #ffffff;
$yellowColor: #f0d1a5;
$greenColor: #c2e297;
$titleBlackColor: #000000;
$textGreyColor: #907e82;
$fieldGreyColr: #fafafa;
$greyHover: #ecebeb;
