<section id="about" class="about">
    <div class="container about--container">
        <label class="tradition__label">tradition and love</label>
        <h2 class="tradition__title">how it’s made?</h2>
        <div class="tradition__container">
            <div class="tradition__item tradition__item--image">
                <img srcset="./images/pc/pc-tradition-x1.png  516w,
                    ./images/pc/pc-tradition-x2.png  1032w,
                    ./images/tab/tab-tradition-x1.png  340w,
                    ./images/tab/tab-tradition-x2.png  680w,
                    ./images/mobile/tradition-x1.png  280w,
                    ./images/mobile/tradition-x2.png 560w" src="./images/mobile/tradition-x1.png"
                    alt="cow with a jug of milk" sizes="(min-width: 768px) 50vw, 100vw">
            </div>
            <div class="tradition__item tradition__item--content">
                <p class="tradition__description">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
                    cursus, faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>
                <p class="tradition__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris
                    rhoncus orci in imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt.
                </p>
                <span class="tradition__text tradition__text--paragraph">Aliquam erat volutpat. Aenean accumsan.</span>

                <button type="button" class="tradition__button" data-modal-open>Read more
                    <svg class="tradition__icon" width="10" height="12">
                        <use href="./images/icons.svg#icon-sml-arr"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>