<section class="contacts-section">
        <h2 class="visually-hidden">Contacts</h2>
        <ul class="all-institution container">
            <li class="institution">
                <span class="institution__title">Cafe</span>
                <ul class="institution__list">
                    <li class="institution__item">
                        <p class="institution__city">Chicago</p>
                        <p class="institution__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="institution__item">
                        <p class="institution__day">Monday - Friday</p>
                        <p class="institution__time">06:00 AM - 10:00 PM</p>
                        <p class="institution__day">Saturday - Sunday</p>
                        <p class="institution__time">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="institution__item--contacts">
                        <a href="tel:+61(0)383766284" class="institution__link">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="institution__link">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="institution">
                <span class="institution__title foodtruck">FOOD TRUCK</span>
                <ul class="institution__list">
                    <li class="institution__item">
                        <p class="institution__city">Los Angeles</p>
                        <p class="institution__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="institution__item">
                        <p class="institution__day">Monday - Friday</p>
                        <p class="institution__time">06:00 AM - 10:00 PM</p>
                        <p class="institution__day">Saturday - Sunday</p>
                        <p class="institution__time">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="institution__item--contacts">
                        <a href="tel:+61(0)383766284" class="institution__link">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="institution__link">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="institution">
                <span class="institution__title">Cafe</span>
                <ul class="institution__list">
                    <li class="institution__item">
                        <p class="institution__city">Chicago</p>
                        <p class="institution__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="institution__item">
                        <p class="institution__day">Monday - Friday</p>
                        <p class="institution__time">06:00 AM - 10:00 PM</p>
                        <p class="institution__day">Saturday - Sunday</p>
                        <p class="institution__time">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="institution__item--contacts">
                        <a href="tel:+61(0)383766284" class="institution__link">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="institution__link">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="buttons">
            <button type="button" class="button our-lockation" data-modal-open>Our Locations
                <svg height="8" width="10">
                    <use href="./images/icons.svg#icon-sml-arrow"></use>
                </svg>
            </button>
            <button type="button" class="button franchise">Franchise
                <svg height="8" width="10">
                    <use href="./images/icons.svg#icon-sml-arrow"></use>
                </svg>
            </button>
        </div>
</section>
