<!-- Swiper -->
<section id="swiper" class="reviews">
  <div class="reviews-wrapper">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide-photo-1">
          <div class="img-wrapper">
            <img
              srcset="
                ../src/images/pc/pc-comment-1-x1.png 1x,
                ../src/images/pc/pc-comment-1-x2.png 2x
              "
              src="../src/images/pc/pc-comment-1-x1.png"
              alt=""
            />
          </div>
          <div class="slider-text-wrapper">
            <p class="text-decoration">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="text-decoration-name">Emily, Los Angeles</p>
        </div>

        <div class="swiper-slide swiper-slide-photo-2">
          <div class="img-wrapper">
            <img
              srcset="
                ../src/images/pc/pc-comment-2-x1.png 1x,
                ../src/images/pc/pc-comment-2-x2.png 2x
              "
              src="../src/images/pc/pc-comment-2-x1.png"
              alt=""
            />
          </div>
          <div class="slider-text-wrapper">
            <p class="text-decoration">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="text-decoration-name">Lillian, Miami</p>
        </div>
        <div class="swiper-slide swiper-slide-photo-3">
          <div class="img-wrapper">
            <img
              srcset="
                ../src/images/pc/pc-comment-3-x1.png 1x,
                ../src/images/pc/pc-comment-3-x2.png 2x
              "
              src="../src/images/pc/pc-comment-3-x1.png"
              alt=""
            />
          </div>
          <div class="slider-text-wrapper">
            <p class="text-decoration">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="text-decoration-name">Ash, New-York</p>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
