Swiper
<section class="section reviews">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide-photo-1">
        <p class="text-decoration">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          <br />
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <p>Emily, Los Angeles</p>
      </div>

      <div class="swiper-slide swiper-slide-photo-2">
        <p class="text-decoration">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          <br />
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <p>Lillian, Miami</p>
      </div>
      <div class="swiper-slide swiper-slide-photo-3">
        <p class="text-decoration">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          <br />
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <p>Ash, New-York</p>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div>TEST</div>
</section>
