<!-- Swiper -->
<section class="reviews">
  <div class="reviews-wrapper">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide-photo-1">
          <div class="img-wrapper">
            <img src="../src/images/pc/pc-comment-1-x1.png" alt="" />
          </div>
          <div class="slider-text-wrapper">
            <svg class="suffix-icon">
              <use href="../src/images/icons.svg#icon-suffix"></use>
            </svg>
            <p class="text-decoration">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit
              <br />
              nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="text-decoration-name">Emily, Los Angeles</p>
        </div>

        <div class="swiper-slide swiper-slide-photo-2">
          <div class="img-wrapper">
            <img src="../src/images/pc/pc-comment-2-x1.png" alt="" />
          </div>
          <div class="slider-text-wrapper">
            <svg class="suffix-icon">
              <use href="../src/images/icons.svg#icon-suffix"></use>
            </svg>
            <p class="text-decoration">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit
              <br />
              nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="text-decoration-name">Lillian, Miami</p>
        </div>
        <div class="swiper-slide swiper-slide-photo-3">
          <div class="img-wrapper">
            <img src="../src/images/pc/pc-comment-3-x1.png" alt="" />
          </div>
          <div class="slider-text-wrapper">
            <svg class="suffix-icon">
              <use href="../src/images/icons.svg#icon-suffix"></use>
            </svg>
            <p class="text-decoration">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit
              <br />
              nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="text-decoration-name">Ash, New-York</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
