<footer class="footer ">
    <div class="footer__container--border">
    <div class="footer__container container">
        <div class="footer__title">
            <div class="footer__title--first ">
            <div class="footer__title--light">
                homemade ice cream 
                <div class="footer__title--light">
                    made
            </div>
        </div>
    </div>
    <div class="footer__title--first">
            <div class="footer__title--accent">
                with 
                <div class="footer__title--accent"> 
                    passion
                </div>
            </div>
        </div>
        </div>
        <div class="footer__contacts">
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="https://github.com/" target="_blank">
                        <svg class="footer__icon social-icon" width="34" height="34">
                            <use href="../src/images/icons.svg#icon-github">
                            </use>
                        </svg>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="https://web.telegram.org/k/" target="_blank">
                        <svg class="footer__icon social-icon" width="34" height="34">
                            <use href="../src/images/icons.svg#icon-telegram">
                            </use>
                        </svg>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="https://www.facebook.com/" target="_blank">
                        <svg class="footer__icon social-icon" width="34" height="34">
                            <use href="../src/images/icons.svg#icon-facebook">
                            </use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="footer__text--black">
                Feel free to contact
                <a href="telto:+61(0)383766284" class="footer__tel">+61 (0) 383 766 284</a>
            </p>
        </div>
        </div>
    </div>
    <div class="footer__copyright">
    <div class="footer__text--grey">
 &#9400; 2019 - IceCream.  </div >
 <div class="footer__text--mob"> All Rights Reserved.</div >

    </div>
    </footer>