<section class="gallery">
  <div class="gallery__wrapper">
    <div class="gallery__grid">
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="https://media.istockphoto.com/photos/upside-down-ice-cream-picture-id1042613780?k=20&m=1042613780&s=612x612&w=0&h=YsusZGnvAZYX7hSBdE64xDxH7de6ixHvfuUQY2KGndI="
          alt=""
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="https://images.unsplash.com/photo-1505394033641-40c6ad1178d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aWNlJTIwY3JlYW18ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt=""
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="https://images.unsplash.com/photo-1536351425844-145ebdae32d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8aWNlJTIwY3JlYW18ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt=""
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="https://media.istockphoto.com/photos/ice-cream-sundae-picture-id1143594100?k=20&m=1143594100&s=612x612&w=0&h=wLFGo8gWYC7LnM9noriJbJVNyIMw72OIOvhP4bGeJNQ="
          alt=""
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="https://images.unsplash.com/photo-1590080962330-747c6aba8028?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aWNlJTIwY3JlYW18ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt=""
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="https://media.istockphoto.com/photos/three-colorful-tasty-ice-cream-cones-in-hands-picture-id504118812?k=20&m=504118812&s=612x612&w=0&h=9p9d4f1DBK4GZ3-ooaSP_v31aIQzqCUtTyJG6cA5qcs="
          alt=""
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="https://images.unsplash.com/photo-1561230101-2c841778f9ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGljZSUyMGNyZWFtfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60"
          alt=""
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="https://images.unsplash.com/photo-1447195047884-0f014b0d9288?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGljZSUyMGNyZWFtfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60"
          alt=""
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="https://images.unsplash.com/photo-1554630981-a73ffb5ed6f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8aWNlJTIwY3JlYW18ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt=""
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="https://images.unsplash.com/photo-1616863858589-9e04f2728c86?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aWNlJTIwY3JlYW18ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
