<section class="gallery">
  <div class="gallery__wrapper">
    <div class="gallery__grid">
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="../src/images/pc/istockphoto-1042613780-612x612.jpg"
          alt=""
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="../src/images/pc/photo-1447195047884-0f014b0d9288.jpg"
          alt=""
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="../src/images/pc/istockphoto-504118812-612x612.jpg"
          alt=""
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="../src/images/pc/istockphoto-1143594100-612x612.jpg"
          alt=""
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="../src/images/pc/photo-1505394033641-40c6ad1178d7.jpg"
          alt=""
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="../src/images/pc/photo-1536351425844-145ebdae32d8.jpg"
          alt=""
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="../src/images/pc/photo-1554630981-a73ffb5ed6f8.jpg"
          alt=""
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="../src/images/pc/photo-1561230101-2c841778f9ae.jpg"
          alt=""
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="../src/images/pc/photo-1590080962330-747c6aba8028.jpg"
          alt=""
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="../src/images/pc/photo-1616863858589-9e04f2728c86.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
