<header class="header">
  <div class="container">
    <div class="header__order">
      <nav class="header__navigation">
        <a href="">
          <img
            class="header__logo"
            srcset="./images/mobile/site-logo-x1.png 1x, ./images/mobile/site-logo-x2.png 2x"
            src="./images/mobile/site-logo-x1.png"
            alt="icecream logo"
          />
        </a>
        <ul class="header__link-list">
          <li class="header__li"><a class="header__link-item" href="">Home</a></li>
          <li class="header__li"><a class="header__link-item" href="#swiper">About us</a></li>
          <li class="header__li"><a class="header__link-item" href="#about">How it’s made?</a></li>
          <li class="header__li"><a class="header__link-item" href="#products">Our products</a></li>
          <li class="header__li"><a class="header__link-item" href="#contact">Contact</a></li>
        </ul>
        <button type="button" class="header__desktop-button header__button-text">
          Buy now
          <svg class="little-arrow" width="10px" height="12px">
            <use href="./images/icons.svg#icon-sml-arr"></use>
          </svg>
        </button>
      </nav>
      <div class="tablet-buttons">
        <button mobile-menu-open type="button" class="mobile__button">
          <svg width="20px" height="20px">
            <use width="20px" height="20px" href="./images/icons.svg#icon-burger"></use>
          </svg>
        </button>
        <button type="button" class="tablet-buy tablet-buy__text">
          Buy now
          <svg class="little-arrow" width="10px" height="12px">
            <use href="./images/icons.svg#icon-sml-arr"></use>
          </svg>
        </button>
      </div>
    </div>
    <div mobile-menu class="backdrop1 is-hidden">
    <div mobile-menu class="sliding-menu ">
      <button mobile-menu-close type="button" class="close-button">
        <svg>
          <use width="14px" height="14px" href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <button type="button" class="sliding-menu__buy-button sliding-menu__button-text">
        Buy now
        <svg class="little-arrow" width="10px" height="12px">
          <use href="./images/icons.svg#icon-sml-arr"></use>
        </svg>
      </button>
      <ul class="sliding-menu__list">
        <li class="sliding-menu__item"><a class="sliding-menu__link" href="">Home</a></li>
        <li class="sliding-menu__item">
          <a class="sliding-menu__link" href="#swiper">About us</a>
        </li>
        <li class="sliding-menu__item">
          <a class="sliding-menu__link" href="#about">How it’s made?</a>
        </li>
        <li class="sliding-menu__item">
          <a class="sliding-menu__link" href="#products">Our products</a>
        </li>
        <li class="sliding-menu__item">
          <a class="sliding-menu__link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    

    </div>
    <script src="./index.js"></script>
  </div>
</header>
