



  <section class="hero">
      
   <div class="container">
    <div class="order">
      <div class="milk"></div>
      <div class="pink-ball"></div>
    <div class="hero__girl"></div>
    <picture  >
      <source srcset="./images/mobile/hero-img-x1.png 1x, ./images/mobile/hero-img-x1.png 2x" media="(max-width:768px)"  / > 
      <source srcset="./images/tab/tab-1hero-img-x1.png 1x, ./images/tab/tab-1hero-img-x2.png 2x" media="(min-width:768px) and (max-width:1280px)"   />
      <source srcset="./images/pc/pc-1hero-img-x1.png 1x, ./images/pc/pc-1hero-img-x2.png 2x" media="(min-width:1280px)"  / >
      <img class="icecream-big" src="./images/pc/pc-1hero-img-x2.png" alt="icecream" >
    </picture >
      <h1 class="hero__heading">ice cream <br> made with <br> <span class="hero__passion">passion</span> </h1>
      <div class="hero__buttons">
      <a  href="#products" class="hero__red-button">Products</a>
      <a href="#about" class='hero__white-button'>How it’s made?</a>
      </div>
    
    <div class="hero__description">
      <p class="hero__description--red hero__description--first-ball">16 </p>
      <p class="hero__description--little">cafes</p> 
      <p class="hero__description--red hero__description--second-ball">23</p>
      <p class="hero__description--little">food trucks</p>
    </div>
    <div class="hero__text-but">
    <p  class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
    <button class="hero__round-button" >
        <svg class="hero__right-arrow" width="7px" height="7px">
            <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
    </button>
    
  </div>
  
  </div>
 
  </section>
</div>

