@import '../breakPoints';

.reviews {
  padding-top: 213px;
  padding-bottom: 42px;
}

/*--------- Swiper--------- */
.swiper {
  width: 926px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.swiper-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* Center slide text vertically */

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-decoration {
  font-family: DM Sans;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.04em;

  padding-left: 35px;
  padding-right: 35px;

  color: $titleBlackColor;
  background-image: repeating-linear-gradient(to top, #e1e1e1 0px 1px, transparent 1px 31px);
  margin: 0;
}

.text-decoration-name {
  margin: 0 0 47px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.87;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #d31342;
}
.slider-text-wrapper {
  padding: 32px 54px 32px 52px;
  margin-bottom: 34px;
}

.img-wrapper {
  margin-bottom: 15px;
}

.suffix-icon {
  width: 54px;
  height: 40px;
  position: absolute;
  z-index: -2;
  bottom: 54%;
  left: 5.5%;
}

.reviews-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fafafa;

  // @include until-tablet {
  //   max-width: 480px;
  // }

  // @include tablet {
  //   padding-left: 74px;
  //   padding-right: 74px;
  //   width: 768px;
  // }
  // @include desktop {
  //   padding-left: 136px;
  //   padding-right: 136px;
  //   width: 1280px;
  // }
}
@media screen and (min-width: 480px) {
  .reviews-wrapper {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .reviews-wrapper {
    width: 740px;
  }
  .swiper-slide {
    width: 620px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .reviews-wrapper {
    width: 1090px;
  }
}
