.reviews {
  padding-top: 123px;
  padding-bottom: 132px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fafafa;
}

/*--------- Swiper--------- */
.swiper {
  width: 926px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.swiper-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* Center slide text vertically */

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// .swiper-slide-photo-1::before {
//   content: '';
//   position: absolute;
//   width: 85px;
//   height: 85px;
//   background-image: url(../../src/images/pc/pc-comment-1-x1.png);
//   border-radius: 50%;
//   display: flex;
//   top: 0;
// }

// .swiper-slide-photo-2::before {
//   content: '';
//   position: absolute;
//   width: 85px;
//   height: 85px;
//   background-image: url(../../src/images/pc/pc-comment-2-x1.png);
//   border-radius: 50%;
//   top: 0;
// }

// .swiper-slide-photo-3::before {
//   content: '';
//   position: absolute;
//   width: 85px;
//   height: 85px;
//   background-image: url(../../src/images/pc/pc-comment-3-x1.png);
//   border-radius: 50%;
//   top: 0;
// }

.text-decoration {
  font-family: DM Sans;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.04em;

  padding-left: 35px;
  padding-right: 35px;

  color: $titleBlackColor;
  background-image: repeating-linear-gradient(to top, #e1e1e1 0px 1px, transparent 1px 31px);
  margin: 0;
}

.text-decoration-name {
  margin: 0 0 47px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.87;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #d31342;
}
.slider-text-wrapper {
  padding: 32px 54px 32px 52px;
  margin-bottom: 34px;
}

.img-wrapper {
  margin-bottom: 15px;
}

.suffix-icon {
  width: 54px;
  height: 40px;
  position: absolute;
  z-index: -2;
  bottom: 54%;
  left: 5.5%;
}
