body {
  margin: 0;
}

.header {
  background-color: #ffb8ca;
  padding-top: 8px;
  padding-bottom: 25px;
  border: 1px solid #ffb8ca;
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    padding-top: 32px;
    padding-bottom:20px;
    border: 1px solid #ffb8ca;
  }
  @media screen and (min-width:1280px){
    padding-top:40px;
    padding-bottom: 0;
    
  }
  &__link-list{
    display:none;
    position: relative;
    z-index: 3;
    @media (min-width:1280px) {
      display: flex;
      list-style-type: none;
      align-items: center;
    }
  }
  &__link-item{
  
      font-family: 'DM Sans';
      font-weight: 700;
      font-size: 14px;
      line-height: calc(18.23 / 14);
      text-decoration: none;
      color: #ffffff;
      padding-left: 20px;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
  
  }
  &__link-item:hover, &__link-item:focus{
    color:#D41443;
    cursor: pointer;
  }
  &__li+&__li{
    margin-left:35px;
  }
  
  &__navigation{
    display: flex;
    justify-content: space-between;
  }
  &__desktop-button:hover, &__desktop-button:focus{
    background-color:#ECEBEB;
    cursor: pointer;
  }
  &__desktop-button{
    display: none;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
position:relative;
@media screen and (min-width:1280px){
  display:flex;
}
z-index: 3;
  justify-content: center;
  align-items: center;

  
  width: 160px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 22px;
  border: none;
  margin-left:32px;
  }
  &__button-text{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(16 / 20.83);
    color: $AccentPinkColor;
    
  }
  
 
}

.close-button {
  position: absolute;
  top: 23px;
  right: 28px;
  border: none;
  background-color: transparent;
  color: #fff;
  width: 14px;
  height: 14px;
}
.close-button:hover{
  cursor: pointer;
}
.mobile__button {
  position: relative;
  z-index: 3;
  width: 20px;
  height: 12px;
  background-color: transparent;
  padding: 0;
  border: none;
  @media (min-width:1280px){
    display: none;
  }
}
.mobile__button:hover{
  cursor: pointer;
}
.hidden {
  display: none;
}
.header__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
  @media screen and (min-width:1280px){
    display: block;
   
  }
 
}
.sliding-menu.is-hidden {
  pointer-events: none;
  
}
.sliding-menu {
  width: 250px;
  height: 100vh;
  position: fixed;
  transition: transform 400ms ease-in-out 100ms;
  background-color: #e17992;
  top: 0;
  right: 0;

  
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    width:254px;
    height:100vh;
  }
  &__buy-button {
    margin-top: 60px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items:center;

    width: 209px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 22px;
    border: none;
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      width:186px;
    }
  }
  &__buy-button:hover, &__buy-button:focus{
    background-color: #ECEBEB;
    cursor: pointer;
  }
  &__button-text {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(16 / 20.83);
    color: $AccentPinkColor;
    
  }
  &__button-text + &__button-text {
    margin-left: 18px;
    padding-top: 1px;
  }

  &__list {
    margin-top: 20px;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
  &__item {
    padding-top: 11px;
    height: 42px;
    border: 1px solid #e18298;
    margin-left: 0;
  }
  &__link {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: calc(18.23 / 14);
    text-decoration: none;
    color: #ffffff;
    padding-left: 20px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,  &__link:focus {
    color: #d41443;
    outline:none;
    cursor: pointer;
  }
}
.tablet-buy {
 
  display: flex;
position:relative;
z-index: 3;
  justify-content: center;
  align-items: center;

  display: none;
  width: 160px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 22px;
  border: none;
  margin-left:32px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) and (max-width:1280px) {
    display: flex;
  
  }
  &__text {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(16 / 20.83);
    color: $AccentPinkColor;
  }
  &__text + &__text {
    margin-left: 10px;
    padding-top: 1px;
  }
 
}
.tablet-buttons {
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    display: flex;
    align-items: center;
  }
}
.header__logo{
  position:relative;
  z-index:3;
}
.tablet-buy:hover, .tablet-buy:focus{
  background-color: #ECEBEB;
  cursor: pointer;
}

.little-arrow{
  margin-left:12px;
}
.backdrop1.is-hidden{
  opacity: 0;
  pointer-events: none;
 
  
  
}
.backdrop1 {
  
  opacity:1;

  background-color: #00000033;
  width:100vw;
  height:100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index:10;
  
  transition: opacity 500ms ease-in-out;
}

.backdrop1.is-hidden .sliding-menu {
  transform: translateX(100%);
 
}

.backdrop1 .sliding-menu{
  transform: translateX(0);
 
}